h1, h2 {

  font-family: sans-serif;
  border-style: dotted;
  border-width: thin;
  position: relative;
  color:blue;



}
p {
  color:blue;
}
li {
  color:white;

}
body {
  background-color: green;
  border-style: groove;

}
 
