.clear-fix {
  clear:both;
}
* {
  width:100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  width:100%;
  height: 100%;
  
#top-half {
  height: 50%;
  width:100%;
  background-color: green;
}
#bottom-left {
  display:inline-block;
  width: 50%;
  height: 50%;
  background-color: olive;
  float:left;
}
#bottom-right {
  display:inline-block;
  width:50%;
  height: 50%;
  background-color: purple;
  float: left;
}
#br-center {
  width:50%;
  height:49%;
  background-color:white;
  margin: 0 auto;
}
#bottom-tenth {
  height:10%;
  background-color: salmon;
}
